

.branding{
    background-color: black;
    color: white;
    padding: 2px;  
    text-align: center; 
    font-size: 40px;
    font-family: 'Quintessential', cursive;   
}
fieldset{
    border-radius: 5px;
    max-width: 300px;
}
